@import url('https://fonts.cdnfonts.com/css/inter');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root{
    --defaultBorderRadius: 12px
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 4px solid red; */
    width: 100vw;
    font-weight: 300;
    letter-spacing: -1px;
}

.container {
    width: 80%;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 3px solid rgb(64, 0, 255); */
    width: 100vw;
}

/* Side Panel */
.sidePanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* border-right: 2px dashed rgba(0, 0, 0, 0.273); */
    width: 25%;
    height: 100vh;
    padding: 2rem;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px dashed black; */
    width: 100%;
    height: 40%;
}

.list .listOptions {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* border: 1px dotted rgb(255, 8, 8); */
}

.listOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    /* border: 1px solid red; */
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: var(--defaultBorderRadius);
    cursor: pointer;
    transition: all 0.1s ease;
}
.listOption:hover{
    background-color: rgba(4, 0, 255, 0.09);
}

.listOptionIcon {
    width: 0%;
    /* border: 1px solid red; */
}

.listOptionText {
    /* border: 1px solid black; */
}

.listOptionNumber {
    color: rgba(2, 2, 2, 0.63);
}

.quoteArea {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* border: 1px dashed black; */
    width: 100%;
    height: 7%;
}

.modeOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* border: 1px dashed black; */
    width: 100%;
    height: 5%;
}

/*               TODOs:                */
.todos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    height: 100vh;
    /* border: 1px solid green; */
}
/* Section 2: MainHeading */
.mainHeading{
    /* border: 1px solid red; */
    width: 100%;
    padding: 1rem 3rem;
}
.mainHeading h1{
    font-size: 60px;
}
/* Section 1: addTodoSection */
.addTodoSection{
    padding: 0 3rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 100%;
    height: 8%;
}

.searchBar{
    /* border: 1px solid red; */
    width: 86%;
    font-size: 18px;
    outline: none;
}

/* Section 2: todoFilters */
.todoFilters{
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px dashed red; */
    width: 100%;
    height: 10%;
}
.filterBtns{
    /* border: 1px solid red; */
}
.filterBtns .filterBtn{
    border-radius: 100px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    font-size: 100%;
    height: 50px;
}
.filterBtn:hover{
    transform: none;
    color: white;
    background-color: black;
}
.filterBtns .all{
    color: white;
    background-color: black;
}

/* Section 3: todoList */
.todoList{
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    /* border: 1px dashed blue; */
}
ul{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    /* border: 1px solid green; */
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: var(--defaultBorderRadius);
}
ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    border: 2px solid rgba(0, 0, 0, 0.122);
    width: 100%;
    border-radius: var(--defaultBorderRadius);
    height: 8vh;
}
ul li .todoCheck{
    /* border: 1px solid red; */
}
ul li p{
    /* border: 1px solid red; */
    width: 80%;
    font-size: 20px;
}
ul li button{
}
.todoListBtn{
    background-color: transparent;
}
.todoListBtn:hover{
    background-color: transparent;
    transform: none;
}
.fa-pencil, .fa-x{
    color: black;
}
/* Default stylings: */
button{
    color: white;
    padding: 1rem;
    background-color: black;
    border: none;
    border-radius: var(--defaultBorderRadius);
    font-size: 18px;
    transition: all 0.1s ease;
    cursor: pointer;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.888);
    transform: translateY(-2px);
}
input{
    padding: 1rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.045);
    border-radius: var(--defaultBorderRadius);
}
.todoCheck{
    margin-right: 1rem;
    accent-color: black;
    /* border: 1px solid blue; */
    /* width: 10%; */
    /* height: 30%; */
    border: 3px solid aqua;
    transform: scale(1.7);
    border-radius: 50%;
    cursor: pointer;
}

